:root {
    font-size: 2.5vh;
}

body, h1, h2, div, p {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    width: 100%;
    z-index: 10;
    background-color: #dbdbdb;
    height: 10vh;
    position: fixed;

}

.headh1 {
    display: inline-block;
    width: 50%;
    margin-top: 2.3vh;
}

.headh1 h1 {
    max-width: 33%;
    margin-left: 2vw;
}

.banner {
    width: 100%;
    height: 50vh;
    position: fixed;
    top: 10vh;
    background-image: url("res/bg.jpg");
    text-align: center;
}

.banner h2 {
    margin-top: 18vh;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-weight: 400;
    font-size: 10vh;
}

.content {
    width: 100%;
    top: 60vh;
    position: relative;
    background: #ebebeb;
    height: 145vh;
    text-align: center;
}
.nav {
    display: inline-block;
    text-decoration: none;
    width: 49%;
    text-align: right;
    font-size: 2vw;
}

.nav th {
    margin: 0vw 5vw 0vw 5vw;
}

.nav a {
    text-decoration: none;
    color: black;
}
